<h2 align="center"> Thanks for Playing Rock, Paper, Scissors</h2>
<h3 align="center">This has been a game brought to you by Iris Markofsky for CPSC473 Assignment 6</h3>
<h1 align="center"><a href="index">Play Again</a></h1>