<h2 align="center">Welcome to the game of Rock, Paper, Scissors</h2>
<table align="center">
<tr><td align="center"><h2> This is the classic game of Rock, Paper, Scissors. <br>
If you have never played before, the valid moves are Rock, Paper and Scissors.</h2><br>
<table border="1">
<tr><th>Throw</th><th>Beats</th><th>Looses to</th></tr>
<tr><td>Rock</td><td>scissors</td><td>Paper</td></tr>
<tr><td>scissors</td><td>paper</td><td>rock</td></tr>
<tr><td>paper</td><td>rock</td><td>Scissors</td></tr></td></tr></table>

<h2 align="center">Please choose your desired throw</h2>

<h2 align="center"><a href="rock">Rock</a><br>
<a href="paper">Paper</a><br>
<a href="scissors">Scissors</a><br></h2>

<h2 align="center">If you have finished playing, click below to see your stats<br>
<a href="stats">Stats of the current Game</h2>
