<h1 align="center">Rock, Paper, Scissors</h1>
<br>
<h2 align="center">You threw Rock and the Computer threw <%= @computer %><br>
<%= @result %></h2>
<hr>
<h2 align="center"><a href="index">Play Again</a><br>
<a href="stats">See Stats</a></h2>
<hr>
debugging purposes<br>
player score: <%= session[:player_score] %><br>
computer score: <%= session[:computer_score] %>